.casilla {
  font-size: medium;
  padding: 0.5rem;
  border: 3px white solid;
  border-radius: 20px;
  background: inherit;
  color: white;
  width: 100%;
}
.casilla::placeholder {
  color: aliceblue;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.invalid {
  color: red;
}
.botnForm {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
}

.formm {
  border-radius: 50%;
}
@media only screen and (max-width: 562px) {
  .casilla {
    width: 70vw;
  }
}
