@import "../globals.scss";

.superposition-section {
  height: 100vh;
}

.superposition-container {
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
  height: 100vh;
  position: relative;
  width: 100vw;
  overflow: scroll;
  overflow-x: hidden;
}

.superposition-box {
  scroll-snap-align: start;
  border-radius: 45px;
  width: 100%;
  height: 100vh;
  padding: $padding;
}

.superposition-box1 {
  position: sticky;
  top: 0;
  background-image: url("/images/fondoSilverSelect.jpg");
}

.superposition-box2 {
  position: sticky;
  top: 5vh;
  background-color: black;
  color: antiquewhite;
}

.superposition-box3 {
  background-color: $background-skyblue;
  position: sticky;
  top: 10vh;
}

// aca va el footer ------------------------------------------------------------------
.superposition-box4 {
  scroll-snap-align: start;
  background-color: rgb(0, 0, 0);
  color: white;
  position: sticky;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

// petroleo ----------------------------------------------------------------
.petroleo-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
  width: 70%;
  text-align: right;
  margin-left: auto;
  align-items: flex-end;
}

// metalurgica ----------------------------------------------------------------
.metalurgica-container {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
}

// hoteles ----------------------------------------------------------------

.hoteles-container {
  height: 80%;
}
.hoteles-section1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
}
.hoteles-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
  width: 70%;
  text-align: right;
  margin-left: auto;
  align-items: flex-end;
}

// mediaquery ----------------------------------------------------------------

@media screen and (max-width: 575px) {
  .hoteles-p {
    display: none;
  }
  .hoteles-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .hoteles-section1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap;
  }
  .hoteles-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    gap: $gap;
    width: 70%;
  }
}
@media screen and (max-width: 700px) {
  .superposition-section {
    h2 {
      font-size: 2.8rem;
    }
  }
}
