@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
html {
  height: -webkit-fill-available;
}
body {
  height: -webkit-fill-available;
}

$text-font: 1em;
$color-font-dark: black;
$color-font-silver: rgb(138, 138, 138);
$color-font-white: rgb(255, 255, 255);
$padding: 8%;
$gap: 3rem;
$title: 4rem;
$background: rgb(67, 62, 62);
$background-skyblue: #4592b0;
$font-p-size: 20px;
$altoGenericoDiv: 30vh;

@mixin divCentrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: $title;
  font-weight: bold;
}
