@import "./globals.scss";

.full-body-container {
  background-color: $color-font-dark;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  overflow: scroll;
}

.home-main-container {
  scroll-snap-align: start;
  padding: $padding;
}

.unidades-container {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: $color-font-silver;
}
.unidades-section {
  padding: $padding;
  display: flex;
  width: 60%;
  gap: $gap;
  flex-direction: column;
  align-items: flex-start;
}
