@import "./globals.scss";

.full-body-container {
  background-color: $color-font-dark;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100svh;
  overflow: scroll;
  width: 100vw;
}

.home-main-container {
  scroll-snap-align: start;
  padding: $padding;
}

.unidades-container {
  padding-top: 8%;
  padding: 0 8%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $gap;
  height: 100svh;
  color: $color-font-silver;
}
.unidades-section {
  display: flex;
  width: 60%;
  gap: $gap;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 700px) {
  .unidades-title {
    h2 {
      font-size: 2.8rem;
    }
  }
  .unidades-section {
    width: 100%;
    gap: 2rem;
  }
  .unidades-container {
    gap: 2rem;
  }
}
